.editorContainer {
  border: 1px solid var(--grey-800);
  border-radius: 4px;
  background: var(--blue-grey-200);
  min-height: 100px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;

  .controlGroup {
    margin-bottom: 8px;
    padding: 8px;
    background: var(--blue-grey-100);
    border-radius: 4px;
    display: block;
    visibility: visible;

    .buttonGroup {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      button {
        padding: 6px 12px;
        border: 1px solid var(--grey-800);
        background: var(--blue-grey-200);
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: var(--black);

        &:hover {
          border-color: var(--yellow);
          background: var(--blue-grey-300);
        }

        &.isActive {
          background: var(--blue-700);
          color: var(--white);
          border-color: var(--blue-700);
        }

        &:disabled {
          border-color: var(--green);
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  :global(.tiptap),
  :global(.ProseMirror) {
    min-height: 100px;
    padding: 8px;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    background: var(--blue-grey-200);

    &:focus {
      border-color: var(--yellow);
    }

    :first-child {
      margin-top: 0;
    }

    ul,
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;

      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      margin-top: 2.5rem;
      text-wrap: pretty;
      color: var(--black);
    }

    h1,
    h2 {
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
      font-size: 1rem;
    }

    blockquote {
      border-left: 3px solid var(--gray-3);
      margin: 1.5rem 0;
      padding-left: 1rem;
    }

    hr {
      border: none;
      border-top: 1px solid var(--gray-2);
      margin: 2rem 0;
    }
  }
}

.mentionSuggestions {
  background: #d3d7d9;
  color: var(--black);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.mentionItem {
  color: var(--black);
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  &.focused {
    background: #b0bec5;
  }
}

.selectedMentionItem {
  background: #b0bec5;
}

.mention {
  background: #e0f7fa;
  border-radius: 3px;
  padding: 2px 4px;
  color: #006064;
}
