.hidden td {
  opacity: 0.5;
}
.hidden .actionButtons {
  display: none;
}
.hidden .hideCharacter {
  display: none;
}
.showCharacter {
  display: none !important;
}
.hidden .showCharacter {
  display: flex;
}
